
	{% extends 'base.html.twig' %}
	
	{# Réécriture SEO #}
	{% block header %}

		{% embed "include/header.html.twig" %}
			
			{# Titre #}
			{% block seo_title %}
				
				Erreur 404 - ArcOffice

			{% endblock seo_title %}
			
			{# Description #}
			{% block seo_description %}
				
				Erreur 404 : La page demandée ne semble pas ou plus exister. Si vous pensez que c'est une erreur, vous pouvez nous contacter à cette adresse contact@netime.fr, ou retourner à l'accueil du site.

			{% endblock seo_description %}

		{% endembed %}

	{% endblock header %}

	{% block navigation %}{% endblock navigation %}

	{# Body Class #}
	{% block body_class %}arcoffice-pages arcoffice-liste{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}{% endblock fil_ariane %}

	{% block content %}

		{# Section Principale #}
		<section class="section-main">
			
			<div class="container">
						
				<div class="row">

					<h4 class="pl-3"><i class="fa fa-exclamation-circle pr-1"></i> Erreur 404</h4>

					<div class="col pb-2">

						La page demandée ne semble pas ou plus exister. Si vous pensez que c'est une erreur, vous pouvez nous contacter à cette adresse <a href="mailto:contact@arcoffice.fr">contact@arcoffice.fr</a>, ou retourner à <a href="{{ path('recherche') }}">l'accueil du site</a>.

					</div>

				</div>
		
			</div>
		
		</section>

	{% endblock content %}