<!-- Embed Footer -->

<div class="container">

    <div class="d-flex small">

        <p class="mb-0">© Nouzotres - 2018 Version 1.0.1</p>

        {# Liens #}

        <div class="footer-liens ml-auto">

            {% if app.user %}


            {% endif %}

        </div>

    </div>

</div>

