
{# Embed Header (Méta, css, etc) #}

<head>
    <meta charset="UTF-8">
    <title>{% block seo_title %}Doume - Monnaie locale{% endblock seo_title %}</title>
    <meta name="description"
          content="{% block seo_description %}{% endblock seo_description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="">

    {% block stylesheets %}

        <link href="{{ asset('build/app.css') }}" rel="stylesheet" />

    {% endblock %}

    {# Google Analytics #}
    <script></script>

    {# Structured Data #}
    <script type='application/ld+json'>
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "name": "Doume",
                "url": "",
                "image": "",
                "description": "",
                "publisher": "" 
            }

    </script>

</head>