{% extends 'base.html.twig' %}

{%  block header %}


{% endblock %}

{%  block content %}


 {{ parent() }}


{% endblock %}


{%  block footer %}

    {# permet d'appeler la section parent standart et de rajouter des trucs après et ta aussi des if et des boucles
       mais on vera ca apres c'est du front ce sera a la fin
       Donc ce que tu va devoir faire dans un premier temps et qu'on va faire ensemble c'est les entités :)
       et ensuite demander a symfony de crééer les bdd en fonction
       Il y a deux moyens de créer les entités soit en mode automatique avec la console que symfony fourni
       soit a la main dans php storm
     #}
    {{ parent() }}

    <p>{{ "Après le footer standard" | reverse | upper  }}</p>


{% endblock %}

    {# C'est pratique pour le css et le javascript tu met tout le css et le js qui est sur toute les pages dans
       le base.html.twig et tu rajoute pour chaque page uniquement le js ou le css que tu as besoin c'est ce que j'ai fait
     #}